<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>403ページ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <h1>403ページ</h1>
    <p>権限がありません。</p>
    <ul>
        <li><a href="index.html" th:href="@{/}">トップページへ</a></li>
    </ul>
    <form sec:authorize="authenticated" method="post" action="index.html" th:action="@{/logout}">
        <button type="submit">ログアウト</button>
    </form>
</body>
</html>
