<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>管理者ページ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <h1>管理者ページ</h1>
    <p>ようこそ<span sec:authentication="principal.loginUser.name">管理者</span>さん</p>
    <a href="index.html" th:href="@{/}">トップページへ</a>
    <form method="post" action="index.html" th:action="@{/logout}">
        <button type="submit">ログアウト</button>
    </form>
</body>
</html>
